[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"
isort = "*"

[packages]
requests = "*"
python-dotenv = "*"
requests-oauthlib = "*"

[requires]
python_version = "3.8"
